
[data-sr] { visibility: hidden; } 

img{
	max-width:100% !important;
	min-width:100% !important;
}

.git-banner{
	width:150px;
	height:150px;
	position:absolute;
	top:111;
	right:0;
}

.center{
	text-align:center;
}

.col-lg-4{
	margin-top:10px;
	margin-bottom:10px;
}

.navbar{
	padding:30px 0;
	font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-default.navbar ul li{
	font-size:18px;
	color:#888;
	border-left:1px dotted #e1e1e1;
	font-size:22px;
}

.navbar-default.navbar ul li:first-child{
	border-left:none;
}

a.navbar-brand{
	font-size:24px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.jumbotron-wrap{
	width:100%;
	padding:10em 0;
	background:url('../images/jumbo.jpg');
	background-size:auto;
	background-repeat:no-repeat;
	text-align:center;
}

.jumbotron{
	margin:auto;
	padding:3em;
	color:#fff;
	background:rgba(255, 255, 255, 0.1);
	display:inline-block;
}

#main{
	width:100%;
	background:#fff;
	padding:50px 0;
}

#intro{
	width:100%;
	line-height:39px;
	background:#dedecd;
	clear:both;
	padding:60px 0;
	border-top:1px solid #fff;
	font-size:36px;
	line-height:36px;
	font-family: 'Open Sans Condensed', sans-serif;
	color:#555;
}

.intro-icon{
	width:100px;
	height:100px;
	border-radius:50px;
	margin:0 auto 20px auto;
}

.intro-text-title{

}

.intro-text-copy{
	font-size:24px;
}

#central{
	width:100%;
	height:400px;
	background:url('../images/bg.jpg');
	clear:both;
	margin:50px 0;
}







/*Footer*/

footer{
	width:100%;
	min-height:200px;
	background:#dedecd;
	clear:both;
}